

@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

body {
  scroll-behavior: smooth;
}

.lead-text {
        font-family: 'Fuggles', cursive;
        font-size: 90px;

}
@media only screen and (min-width: 1400px) {
    .where {
        position: relative;
        top: -800px;
        z-index: 1;
        left: 300px;
    }
    
  }

@media only screen and (max-width: 1400px) {
    .where {
        position: relative;
        z-index: 1;
    }
  }

  h1 {
    font-family: 'Fuggles', cursive;

  }
  .hr {
    border-bottom: 2px solid saddlebrown;
    width: 80%;
    margin: auto;
    padding-top: 50px;
  }




   /* Slideshow container */
.slideshow-container {
  position: relative;
  background: antiquewhite;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: sandybrown;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: sandybrown;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: antiquewhite;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: sandybrown;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: saddlebrown;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;} 

a, a:hover, a:visited, a:active {
  color:saddlebrown;
}
a, a.nav-link:hover, a:visited, a.nav-link:active {
text-decoration: none !important; 
}

a:hover, a:active {
  text-decoration: underline; 
  }

.where a {
  
  padding: 30px;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}